/* Importation des polices */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Variables CSS pour les couleurs */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --input-background: #fff;
  --input-border: #ced4da;
  --input-focus-border: #80bdff;
  --button-background: #007bff;
  --button-hover-background: #0056b3;
  --button-text: #fff;
  --border-radius: 8px;
  --transition-speed: 0.3s;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.contact-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--input-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--primary-color);
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius);
  font-size: 14px;
  transition: border-color var(--transition-speed);
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.btn-submit {
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.btn-submit:hover {
  background-color: var(--button-hover-background);
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .btn-submit {
    font-size: 14px;
  }
}

/* Status Message */
#status {
  margin-top: 20px;
  font-size: 16px;
}
