* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

.logo {
  color: #e6ab53;
  font-size: 3em;
  margin-left: -40px;
}

.logo span {
  color: #4c76c2;
}

.menu-bar {
  background-color: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 18px;
  color: #4c76c2;
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: #e6ab53;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 200px;
  padding: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li a {
  font-size: 15px;
}
