@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
}

.logo {
  color: #e6ab53;
  font-size: 3em;
  margin-left: -40px;
}

.logo span {
  color: #4c76c2;
}

/* Menu bar styles */
.menu-bar {
  background-color: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  padding: 10px 30px;
  position: relative;
}

.menu-bar ul li a {
  font-size: 18px;
  color: #4c76c2;
  transition: color 0.3s;
}

.menu-bar ul li a:hover {
  color: #e6ab53;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  display: block;
  margin: 10px;
}

.dropdown-menu ul li {
  width: 200px;
  padding: 10px;
}

.dropdown-menu ul li a {
  font-size: 15px;
}

/* Hero section */
.hero {
  background-image: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
}

/* Container styles */
.container {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  min-height: 550px;
  margin: 10px;
  border-radius: 10px;
}

.container h1 {
  padding-bottom: 15px;
  font-size: 24px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
  padding-top: 8px;
}

.container a {
  color: #333;
  font-size: 13px;
  margin: 15px 0 10px;
}

.container .oublie {
  margin-top: -3px;
}

/* Button styles */
.container button,
.container button1 {
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button {
  background-color: #e6ab53;
  color: #fff;
}

.container button1 {
  background-color: #4c76c2;
  color: #fff;
}

.container button.hidden,
.container button1.hidden {
  background-color: transparent;
  border-color: #fff;
}

/* Form styles */
.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* Social icons styles */
.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

/* Toggle container styles */
.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
}

.toggle {
  height: 100%;
  background: linear-gradient(to right, #e6ab53, #4c76c2);
  color: #fff;
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

/* Footer Styling */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
}

.error-message {
  color: #e74c3c; /* Red color for error message */
  font-size: 14px; /* Font size for the error message */
  margin-bottom: 10px; /* Space below the error message */
  text-align: center; /* Center align the text */
  display: block; /* Display the error message */
}
